.content {
  display: flex;
}

.hotel-view {
  background-color: var(--color-white);
  flex: 1;
}

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  align-items: center;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__star {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  &__icon-location {
    margin-left: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-2);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2);

  .description {
    margin-right: 4.5rem;
    flex: 0 0 60%;

    .paragraph:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    .list {
      list-style: none;
      padding: 3rem 0;
      margin: 3rem 0;
      border-top: 1px solid var(--color-grey-light-2);
      border-bottom: 1px solid var(--color-grey-light-2);
      display: flex;
      flex-wrap: wrap;

      &__item {
        flex: 0 0 50%;
        margin-bottom: 0.7rem;

        &::before {
          content: "";
          display: inline-block;
          height: 1rem;
          width: 1rem;
          margin-right: 0.7rem;

          background-color: var(--color-primary);
          mask-image: url(../../../assets/img/chevron-thin-right.svg);
          mask-size: cover;
        }
      }
    }

    .recommend {
      font-size: 1.3rem;
      color: var(--color-grey-dark-3);
      display: flex;
      align-items: center;

      &__count {
        margin-right: auto;
      }

      &__photo {
        box-sizing: content-box;
        height: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 3px solid var(--color-white);

        &:not(:last-child) {
          margin-right: -1.5rem;
        }
      }
    }
  }

  .user-review {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .review {
      background-color: var(--color-white);
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
      padding: 3rem;
      margin-bottom: 3.5rem;
      position: relative;
      overflow: hidden;

      &::before {
        content: "\201C";
        position: absolute;
        top: -2rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-grey-light-2);
      }

      &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
      }

      &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
      }

      &__user {
        display: flex;
        align-items: center;
      }

      &__rating {
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
      }

      &__user-box {
        margin-right: auto;
      }

      &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.4rem;
      }

      &__user-date {
        color: var(--color-grey-dark-3);
        font-size: 1rem;
      }
    }
  }
}

.cta {
  padding: 3.5rem 0;
  text-align: center;

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  .btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    color: var(--color-white);
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    position: relative;
    overflow: hidden;
    cursor: pointer;

    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all 0.2s;
    }

    &__invisible {
      position: absolute;
      left: 0;
      top: -100%;
      padding: 2rem 0;
    }

    &__visible {
      padding: 2rem 7.5rem;
    }

    &:hover {
      background-image: linear-gradient(
        to left var(--color-primary-light),
        var(--color-primary-dark)
      );
    }

    &:hover &__invisible {
      top: 0;
    }

    &:hover &__visible {
      transform: translateY(100%);
    }

    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
  }
}
